section {
  grid-area: view;
  /*width: 100%;*/
  padding-top: 25px;
}

#chat {
  height: 100%;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: space-around;
}

.chat__lista {
/*  height: 100%; */
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.chat__header {
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.chat__lista_contatos {
  overflow-y: auto;
  padding: 0.75rem 0;
  white-space: nowrap;
}

.chat__lista_contatos ul {
  list-style: none;
  padding: 0;
}

.chat__lista_contatos ul li {
  margin-bottom: 15px;
  padding: 5px 10px;
  width: 100%;
  display: flex;
}

.chat__lista_contatos ul li .active {
  background-color: rgba(0, 0, 0, 0.3);
}

.search {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: none;
  background-clip: padding-box;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: white;
  overflow: auto;
}

.status_cont {
  height: 70px;
  position: relative;
  width: 70px;
}

.status_cont img {
  border: 1.5px solid #f5f6fa;
  border-radius: 50%;
  width: 65px;
  height: auto;
}

.status {
  background-color: #4cd137;
  border: 1.5px solid #fff;
  border-radius: 50%;
  bottom: 0.2em;
  height: 15px;
  position: absolute;
  right: 0.8em;
  width: 15px;
}

.offline {
  background-color: #c23616;
}

.chat__lista_contatos_info {
  margin-bottom: auto;
  margin-left: 15px;
  margin-top: auto;
}

.chat__lista_contatos_info span {
  color: #fff;
  font-size: 20px;
}

.chat__lista_contatos_info p {
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 10px;
}

/* CHAT */
.chat {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-radius: 15px !important;
  height: 500px;
  margin-bottom: auto;
  margin-top: auto;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.chat__janela_header {
  border-bottom: 0;
  border-radius: 15px 15px 0 0;
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
}

.chat__janela_corpo {
  overflow-y: auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.video_cam {
  margin-left: 50px;
  margin-top: 5px;
}

.video_cam span {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  margin-right: 20px;
}

#action_menu_btn {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.action_menu {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: #fff;
  display: none;
  padding: 15px 0;
  position: absolute;
  right: 15px;
  top: 30px;
  z-index: 1;
}

.action_menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.enviado {
  margin-bottom: 1.5rem;
  justify-content: flex-start;
  display: -ms-flexbox;
  display: flex;
}

.action_menu ul li {
  margin-bottom: 5px;
  padding: 10px 15px;
  width: 100%;
}

.chat__avatar img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.enviado__texto {
  border-radius: 25px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px;
  position: relative;
  background-color: #82ccdd;
  margin-left: 10px;
}

.tempo {
  bottom: -15px;
  color: hsla(0, 0%, 100%, 0.5);
  font-size: 10px;
  position: absolute;
}

.enviado {
  left: 0;
}

.recebido {
  margin-bottom: 1.5rem;
  -ms-flex-pack: end;
  justify-content: flex-end;
  display: flex;
}

.recebido__texto {
  background-color: #78e08f;
  margin-right: 10px;
  border-radius: 25px;
  margin-bottom: auto;
  margin-top: auto;
  padding: 10px;
  position: relative;
}

.tempo__recebido {
  right: 0;
}

/* CAIXA DE TEXTO */

.caixatexto__container {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
  height: 160px;
}

.msg {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  color: #fff;
  height: 100%;
  overflow-y: auto;
  display: block;
  padding: 10px;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  background-clip: padding-box;
  border-radius: 8px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  overflow: auto;
  resize: vertical;
}
