:root {
  color-scheme: dark light;
}

[data-theme="blue"] {
  --font-primary-color: #9a97f3;
  --font-secondary-color: #818cab;
}

[data-theme="green"] {
  --font-primary-color: #97f39f;
  --font-secondary-color: #81ab85;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas:
    "navbar navbar"
    "sidebar view";
}

/* Modo de Tela */
@media screen {
  /* Modo Claro */
  main.light {
    background-color: #eee;
    color: #111;
  }
  @media (prefers-color-scheme: light) {
    main {
      background-color: #eee;
      color: #111;
    }
  }
  /* Modo Escuro */
  main.dark {
    background-color: #111;
    color: #eee;
  }
  @media (prefers-color-scheme: dark) {
    main {
      background-color: #111;
      color: #eee;
    }
  }
}
/* Modo de Impressão */
@media print {
  main {
    color: #000;
    background-color: #fff;
  }
}
